#edit_page.col-md-8.col-md-offset-2
.row
.panel.panel-default
.panel-heading
  %h1  Edit Your  Pin
.panel-body
.current_image
  %strong.center  Current  Image
  - if  @pin.image.present?
    = image_tag(@pin.image.thumb.url)

=  render  "form"
=  link_to  "cancel", pin_path
